<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{template(~{::#mainBody})}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="mainBody">
  <div sec:authorize="hasRole('ADMIN')"
       style="text-align: center; margin: 10px">
    <a role="button" href="/" th:href="@{/watch}" class="btn btn-primary">Add new item</a>
  </div>

  <table class="table-items">
    <tbody class="items-container">
    <tr th:if="${watches.empty}">
      <td colspan="2"> No Items Available</td>
    </tr>
    <tr class ="table-row-items" th:each="watch : ${watches}">
      <td>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" th:src="@{/img/{id}.jpg(id=${watch.getFileCover().getId()})}"
               alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center colored-title" th:text="${watch.getTitle()}"></h5>
            <p class="card-text-center">Description: <span th:text="${watch.getDescription()}"></span></p>
            <p class="card-text-center">Price: <span th:text="${watch.getPrice()}"></span>$</p>
          </div>


          <form th:object="${chosenWatchDto}" th:action="@{/watch/{watchId}(watchId=${watch.getId()})}"
                method="post">
            <label for="quantity">Quantity:</label>
            <input th:field="*{quantity}" type="number" name="quantity" id="quantity" size="2" maxlength="12"
                   value="1" title="Quantity:" class="input-text qty">
            <button style="margin-top: 10px" type="submit"
                    class="btn btn-primary">Add to Shopping List
            </button>
          </form>
        </div>
      </td>
    </tr>
    </tbody>
  </table>


</div>
</body>
</html>